
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Animated Login Page</title>
    <link rel="stylesheet" href="login.css">
    
</head>
<body>
    <div class="container">
        <div class="login-box">
            <h2>Login</h2>
            <form id="login-form">
                <div class="input-box">
                    <input type="text" id="inputVal" required>
                    <label>Username</label>
                </div>
                <div class="input-box">
                    <input type="password" required>
                    <label>Password</label>
                </div>
                <button class="btn" onclick="login()">>Login</button>
                <p class="register">Don't have an account? <a href="#">Sign Up</a></p>
            </form>
        </div>
    </div>
    <script src="./login.js">
       
    </script>
  
   
</body>
